$white: #fff;
$red: rgb(145, 35, 35);
$lightblue: #318591;
$blue: #428bca;
$green: rgb(35, 129, 63);
$orange: rgb(252, 185, 0);
$colornav: #262626;
$spacer: 1em;
$brandsize: 30px;
$navlinksize: 18px;
$bgctarget: #444;
$targetborder: #222;
$targetbordertr: #2229;
$divbgcolortarget: #303030;
$clasicfont: Arial, Helvetica, sans-serif;
$formheight: 400px;